<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		<%= ticker %> | <%= name %>
	</title>
	<style>
		body {
			background-color: <%=background_color %>;
			text-align: center;
			font-family: Arial, sans-serif;
			margin: 0;
			padding: 0;
		}

		header {
			display: flex;
			justify-content: space-around;
			padding: 10px 0;
			background-color: <%=background_color %>;
		}

		header a {
			color: <%=text_color %>;
			text-decoration: none;
			font-size: 1.2em;
		}

		header a:hover {
			text-decoration: underline;
		}

		main {
			max-width: 400px;
			margin: 0 auto;
			padding: 20px;
			background-color: <%=background_color %>;
		}

		img {
			width: 100%;
			max-width: 200px;
			margin: 20px auto;
		}

		h1 {
			color: <%=text_color %>;
			font-size: 2em;
			margin: 20px 0;
		}

		p {
			color: <%=text_color %>;
			font-size: 1.2em;
			margin: 10px 0;
		}
	</style>
</head>

<body>
	<header>
		<a style="text-decoration: line-through;">BUY</a>
		<a href="<%= telegram_link %>" target="_blank">TELEGRAM</a>
		<a href="<%= twitter_link %>" target="_blank">TWITTER</a>
	</header>
	<main>
		<img src="<%= image_src %>" alt="<%= name %>">
		<h1>
			$<%= ticker %>
		</h1>
		<p>
			<%= name %>
		</p>
		<p>
			<%= description %>
		</p>
	</main>
</body>
</html>
